header > img {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-around;
}

video{
    
    height: 500px;
    width:auto
}



.flexActivites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.imgActiv{
display: flex;
flex-wrap: wrap; 
justify-content: center;
}

 article > img{
     flex-wrap: wrap;
     width: 20vw;

   
     
}

article> p{
    background: rgba(5, 6, 82, 1);
  z-index: 1;
  text-align: center;
  font-family: Georgia;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  color: white;
  width: 45%;
}
