body{
  font-family: "Druk";
  margin: 0;
}

/*police*/
@font-face {
	font-family: "Druk";
	src: url("../fonts/DrukWideBold.ttf");
}


/*///////////////////////////////////////Accueil////////////////////////////////*/
/*image menu*/
header > img {
    display: flex;
    justify-content: center;
}

/*logo*/
div > #logoArt {
  display: flex;
  justify-content: center;
  width: 150px; 
  height: 150px; 
  overflow: hidden;
  margin: -40px 0px 0px 0;
}

/*banniere*/
#banniere{
width: 100%;
}

.containerBanniere{
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.texteBanniere{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

/*texte en couleur*/
.texteBanniere couleur{
  color: #ffe246;
}

/*intro texte*/
.textCentre h2{
  text-align: center;
  font-family: Helvetica, sans-serif;
  line-height: 3vw;
  margin: 5vw 18vw 3vw;
  }

/*bouton billetreie sous intro*/
#containerBouton {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

#containerBouton button {
  background-color: #ffe246;
  border-radius: 0.9vw;
  border-style: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 0px;
  width: 140px;
  height: 55px;
  transition: all 0.5s;
  margin: 5px;
  cursor:pointer;
  font-weight: 500;
  font-family: "Druk";
 
}
#containerBouton button span {
  display: inline-block;
  position: relative;
  transition: 0.9s;
}
#containerBouton button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.9s;
}
#containerBouton button:hover {
  background-color: #000000;
  color: #ffe246;
}
#containerBouton button:hover span {
  padding-right: 25px;
}
#containerBouton button:hover span:after {
  opacity: 1;
  right: 0;
}

/*texte présentation programme*/
.prog{
  text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
}

.flexActivites{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #e4e4e4;
    padding: 2.5vw;
}

/*règlage titre*/
.festivite{
  margin-top: 3vw;
  margin-bottom: 5vw;
  text-align: center;
}

.festivite p{
  font-family: Helvetica, sans-serif;
  line-height: 2vw;
  }


.suspend{
text-align: center;
}

.suspend h4{
  margin-bottom: -5vw;
}

.suspend couleur{
  color: #ffe246;
}

.suspend p{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -5vw;
  margin-bottom: 5vw;
  line-height: 2vw;
}
  

/*titre concerts*/
.textConcert h2{
  text-align: center;
  margin-bottom: -13vw;
}

.textConcert couleur{
  color: #ffe246;
}

.textConcert img{
  display: flex;
  justify-content: center;
}


/*///////////////////////////////////Créateurs///////////////////////////////*/
.h1-crea{
  font-family: "druck";
  text-align: center;
  margin: 4vw 0vw 4vw 0vw;

}

.h2-crea{
  font-family: "druck";
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #ffe246;
  margin: 4vw 0vw 4vw 0vw;
}

/*Images Page CREATEURS*/
.img-crea img{
  width: 30vw;
  padding: 10px 100px ;
  filter: drop-shadow(30px 10px 5px rgb(255,210, 70));
}

.img-crea{
  display: flex;
  justify-content: center;
}
/*////////////////////////////////////////PAGE BIO//////////////////////////////////*/
.h2-bio{
  font-family: "druck";
}

.image-bio img{
  width: 30vw;
}

.container-bio {
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 3vw 7vw 3vw 7vw;
}

.image-bio {
  height: 80vh;
  width: 50%;
  
}

.pBio {
  width: 50%;
  margin-left: 0.3vw;
  font-family: helvetica;
  line-height: 2vw;
  align-items: center;
}

button{
  font-family: "druck";
  background-color: #ffe246;
  border-color: #ffe246;
  border-radius: 0.9vw;
  border-style: none;
  padding: 1vw;
}

button a{
  text-decoration: none;
  color: black;
}

button:hover{
  background-color: black;
  border-color: black;
  color: #ffe246;
}

button a:hover{
  color: #ffe246;
}

/*//////////////////////////////////////////////// PROGRAMME //////////////////////////////////////////*/
.titre_prog{
  text-align: center;
  font-size: 30px;
  margin-top: 4vw;
}

.button-day{
  text-align: center;
  margin-top: 4vw;
}

.row-prog{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7vw 2vw 7vw 2vw;
}

/*/CLASS TEXTE/*/
.texte {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  padding-right: 4vw;
  text-align: justify;
}

.texte span{
  color: #ffe246;
  font-family: "druck";
}

.texte h4{
  font-family: "druck";
  
}

/*/ CLASS TIME /*/
.time{
  width: 16%;
  margin-right: 1vw;
  padding: 3vw;
}

/*/ CLASS ARTISTE /*/
.artiste{
  width: 24%;
  margin-right: 1vw;
  text-align: end;
}

.artiste img{
  width: 150px;
}
/*/ CLASS ICONE /*/
.icone{
  width: 25%;
  margin-right: 1vw;
  text-align: end;
}

.icone img{
  width: 110px;
}

/*/PLAN SALON/*/
.plan-du-salon{
  display: flex;
  align-items: center;
  flex-direction: column ;
  margin-bottom: 5vw;
}

.plan h2{
  margin-bottom: 3vw;
}


/*/////////////////////////////////////////////Billeterie////////////////////////////////////////////////*/
fieldset {
  margin: 0;
  border:1px none;
  border-radius: 1.9vw; 
}



/*motif formulaire*/
form{
  width: 60vw;
  background:#ffffe9;
  border-radius:28px;
  border: #bebed2 1px solid;
  box-shadow: 3px 11px 21px -12px #000;
  padding:50px 50px;
  position: relative;
  left: 17%;
 }

/*titre pré-reservation*/

.pre-resa{
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 3vw;
}
#reserve{
margin-top: 20px;
text-align: center;
}


#titre_venir{
  margin: 160px;
}

/*modification des champs*/
input{
  width:100%;
  padding:20px;
  box-sizing:border-box;
  background:none;
  border:0;
  border-bottom:2px solid #bebed2;
}

/*container de dates de reservation*/
.container-reservation {
  display: flex;
  justify-content:space-evenly;
}

/*taille checkbox*/
.taille{
  width:10px;
  height:10px;
  margin-top: 15px;
}

/*taille date*/
#taille_date{
  font-size: 12px;
}

/*Media*/
@media screen and (max-width: 750px){
  .pBio{
      font-size: smaller;
      line-height: 3vw;
  }

  .container-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .h1-crea , .h2-crea{
      font-size:medium;
      margin-top: 7vw;
  }

  .img-crea{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

/*////////////////////////////////////CARTE INTERACTIVE DANS CONTACT //////////////////////////////////*/
.divMap {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 0vw 2vw 4vw 2vw;
}

.mapContainer {
  height: 80vh;
  width: 80vw;
  margin-top: 5vw;
}

.section-contact{
  font-family: helvetica;
  
}



